@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: hsl(var(--b3));
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: hsl(var(--n));
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: hsl(var(--af));
}
